#https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html#command-options-general-elbloadbalancer
option_settings:
  aws:elasticbeanstalk:application:environment:
    GIN_MODE: release
    APP_NAME: go-docker-blue
    db_user: dbuser
    db_pass: s3cr3t2021
    db_name: go-app-db
