
.vagrant/**
eks-kube-config
eks-kube-config.eksctl.lock
ssh.pem
.idea/**
terraform/docker/.terraform.lock.hcl
terraform/docker/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.15.0/windows_amd64/LICENSE
terraform/docker/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.15.0/windows_amd64/terraform-provider-docker_v2.15.0.exe
terraform/docker/terraform.tfstate
terraform/docker/terraform.tfstate.backup
